# See https://help.github.com/articles/about-codeowners/
# for more info about CODEOWNERS file

# It uses the same pattern rule for gitignore file
# https://git-scm.com/docs/gitignore#_pattern_format

# Any documentation files
*.md        @norarrsgd
/.github/    @norarrsgd

# API Codes General
/functions/        @norarrsgd

# Mobile and Web Apps
/app_portal/     @norarrsgd
/app_store/     @norarrsgd
/web_admin/     @norarrsgd